@use '../../../styles/colors';

.login {
    margin: 10% auto 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_header {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    &_card {
        gap: 1.5rem;
        border: 1px solid #c3cfd9;
        padding: 3rem 3rem;
        max-width: 520px;
        align-items: center;
        display: grid;
        align-content: center;
        width: 30%;


        &_action {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            &_forgot {
                &_link {
                    color: colors.$primary-blue;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
        }
    }
}