@use "../../../styles/colors";

.productcard {
    text-decoration: none;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    min-width: 400px;
    margin: 1rem auto;
    padding: 1rem 1.5rem;
    border: 2px solid colors.$border;
    border-radius: 0.25rem;
    row-gap: 0.65rem;

    &_modal {
        // display: flex;
        // gap: 1rem;

        &_buttons {
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
            margin-top: 1rem;
        }
    }

    // &_title,
    &_buttons {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &_category,
    &_price,
    &_description {
        grid-column: span 2;
    }

    &_editbtn,
    &_deletebtn {
        text-align: end;
        z-index: 100;
        width: min-content;
        display: flex;
        align-items: center;
        justify-self: flex-end;
        background-color: transparent;
        border: none;
        cursor: pointer;

    }

    &_title {
        font-weight: 600;
        font-size: 1.25rem;
    }

    &_posted,
    &_views {
        font-size: 0.85rem;
    }

    &_views {
        text-align: end;
    }
}

.seemore {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: blue;
    font-size: 0.85rem;
}