@use "../../../styles/colors";

.productcard {
    text-decoration: none;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40%;
    margin: 1rem auto;
    padding: 1rem 0.5rem;
    border: 2px solid colors.$border;
    border-radius: 0.25rem;
    row-gap: 0.65rem;

    &_title,
    &_category,
    &_price,
    &_description {
        grid-column: span 2;
    }

    &_title {
        font-weight: 600;
        font-size: 1.25rem;
    }

    &_posted,
    &_views {
        font-size: 0.85rem;
    }

    &_views {
        text-align: end;
    }
}

.seemore {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: blue;
    font-size: 0.85rem;
}